fabric/indigo-renderer.properties
indium-renderer.properties
iris.properties
sound_physics_remastered/occlusion.properties
sound_physics_remastered/reflectivity.properties
sound_physics_remastered/soundphysics.properties
voicechat/voicechat-client.properties
